* {
    margin: auto;
    box-sizing: border-box;
  
    .header {
      height: 110px;
      background-color: crimson;
      font-size: 50px;
      text-align: center;
    }
  
    background-color: rgb(22, 22, 22);
    .row1 { /*comandos para organizar as fotos na linha*/
      display: flex;
      justify-content: center;
      /*gap: 5px;*/
    }
  
    .row2 {
      display: flex;
      justify-content: center;
      gap: 5px;
    }
  }